In [3]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one -1.105784 -0.978565
1    a  two -0.220942 -0.478404
2    b  one  0.268566 -0.531431
3    b  two  2.692373 -0.971673
4    a  one  1.092833  0.383062

In [4]:
gb = df.groupby(by='key1')
gb.sum()

           key2     data1     data2
key1
a     onetwoone -0.233893 -1.073907
b        onetwo  2.960939 -1.503104

In [5]:
gb1 = df.groupby(by='key1')[['data1','data2']]
gb1.sum()

         data1     data2
key1
a    -0.233893 -1.073907
b     2.960939 -1.503104