In [3]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=list('bde'),
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北  0.018515 -0.359465  0.270065
台中 -0.331292 -0.025984 -0.266891
台南 -0.415278 -1.154211  0.462969
高雄  0.446396  2.172472 -1.036815

In [4]:
def formap(value):
    return f'{value:.3f}%'

frame.map(formap)

          b        d        e
台北   0.019%  -0.359%   0.270%
台中  -0.331%  -0.026%  -0.267%
台南  -0.415%  -1.154%   0.463%
高雄   0.446%   2.172%  -1.037%